.home-header {
    background-color: white;
}

.home-content {
    display: flex;
    background-color: rgb(240, 240, 240);
}

.home-footer {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #262626;
    color: white;
}

@media screen and (max-width:414px) {
    .home-header {
        margin: 0 -50px;
    }
}