.header-container {
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header-container .left {
    display: flex;
    font-size: 0;
}

.header-container .brand {
    display: inline-block;
    width: 128px;
    background: url("../assets/images/brand.png") no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 0;
    cursor: pointer;
}

.header-container .menu {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 0;
    align-self: center;
}

.header-container .menu .menu-item {
    border-bottom: 0;
    font-size: 16px;
}

.header-container .btn {
    margin: 0 30px;
}

.header-container .icon {
    margin-left: -5px;
    color: #1890ff;
    cursor: pointer;
    font-size: 16px;
}

.header-container .icon.logout::after {
    content: "\0020\6ce8\9500";
}

.header-container .icon.login::after {
    content: "\0020\767b\5f55";
}